*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    display: inline-block;
}
ul,ol{
    list-style: none;
}


.header_list{
    display: grid;
    justify-content: space-evenly;
    grid-template-columns: auto auto auto;
    padding: 20px;
    gap: 0;
}
.header_title{
    opacity: 0.5;
    margin-bottom: 10px;
}
.header_text{
    opacity: 0.4;
    margin-bottom: 10px;
}
img{
    margin-bottom: 10px;
}
